In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('esd_eps_data.csv')

In [3]:
df.head()

,ticker,name,currency,exchange,industry,logo,weburl,environment_grade,environment_level,social_grade,...,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik,annual_eps,gross_profit
0,dis,Walt Disney Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/ef50b4a2b263c84...,https://thewaltdisneycompany.com/,A,High,BB,...,510,316,321,1147,2022-04-19,BBB,High,1744489,1.72,2.832100e+10
1,gm,General Motors Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Automobiles,https://static.finnhub.io/logo/9253db78-80c9-1...,https://www.gm.com/,A,High,BB,...,510,303,255,1068,2022-04-17,BBB,High,1467858,6.13,2.098100e+10
2,gww,WW Grainger Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Trading Companies and Distributors,https://static.finnhub.io/logo/f153dcda-80eb-1...,https://www.grainger.com/,B,Medium,BB,...,255,385,240,880,2022-04-19,BB,Medium,277135,30.06,5.849000e+09
3,mhk,Mohawk Industries Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Consumer products,https://static.finnhub.io/logo/26868a62-80ec-1...,https://mohawkind.com/,A,High,B,...,570,298,303,1171,2022-04-18,BBB,High,851968,0.39,2.943400e+09
4,lyv,Live Nation Entertainment Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,https://static.finnhub.io/logo/1cd144d2-80ec-1...,https://www.livenationentertainment.com/,BBB,High,BB,...,492,310,250,1052,2022-04-18,BBB,High,1335258,0.64,4.343730e+09

In [4]:
df.shape

(638, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                638 non-null    object
 1   name                  638 non-null    object
 2   currency              638 non-null    object
 3   exchange              638 non-null    object
 4   industry              635 non-null    object
 5   logo                  626 non-null    object
 6   weburl                629 non-null    object
 7   environment_grade     638 non-null    object
 8   environment_level     638 non-null    object
 9   social_grade          638 non-null    object
 10  social_level          638 non-null    object
 11  governance_grade      638 non-null    object
 12  governance_level      638 non-null    object
 13  environment_score     638 non-null    int64
 14  social_score          638 non-null    int64
 15  governance_score      638 non-null    int64
 16  total_score           638 non-null    int64
 17  last_processing_date  638 non-null    object
 18  total_grade           638 non-null    object
 19  total_level           638 non-null    object
 20  cik                   638 non-null    int64
 21  annual_eps            638 non-null    float64
 22  gross_profit          638 non-null    float64
dtypes: float64(2), int64(5), object(16)
memory usage: 114.8+ KB

In [18]:
df['environment_grade'].value_counts()

environment_grade
A      292
B      210
BB      65
BBB     40
AA      31
Name: count, dtype: int64

In [19]:
df['social_grade'].value_counts()

social_grade
BB     402
B      219
BBB     11
A        4
CCC      1
AA       1
Name: count, dtype: int64

In [20]:
class DataTransformation:
    def __init__(self, df):
        self.df = df

    def remove_columns(self, col_list):
        self.df.drop(columns = col_list, inplace = True)

    def merge_categories(self, column , threshold = 10, tag = "OTHERS"):
        count_dict = self.df[column].value_counts().to_dict()
        cat_to_merge = [key for key, val in count_dict.items() if val < threshold]
        self.df[column] = self.df[column].apply(lambda x: tag if x in cat_to_merge else x)

    def fill_na_cat(self, column, tag = "OTHERS"):
        self.df[column].fillna(tag, inplace = True)

    def get_data(self):
        return self.df

In [21]:
transform = DataTransformation(df)

In [ ]:
transform.remove_columns(['logo','weburl'])

In [22]:
transform.fill_na_cat('industry','Unknown')

C:\Users\Shushant PC\AppData\Local\Temp\ipykernel_10372\3919354216.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.df[column].fillna(tag, inplace = True)

In [23]:
transform.merge_categories('industry',10,'OTHERS')

In [24]:
data = transform.get_data()

In [25]:
data.head()

,ticker,name,currency,exchange,industry,environment_grade,environment_level,social_grade,social_level,governance_grade,...,environment_score,social_score,governance_score,total_score,last_processing_date,total_grade,total_level,cik,annual_eps,gross_profit
0,dis,Walt Disney Co,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,A,High,BB,Medium,BB,...,510,316,321,1147,2022-04-19,BBB,High,1744489,1.72,2.832100e+10
1,gm,General Motors Co,USD,"NEW YORK STOCK EXCHANGE, INC.",OTHERS,A,High,BB,Medium,B,...,510,303,255,1068,2022-04-17,BBB,High,1467858,6.13,2.098100e+10
2,gww,WW Grainger Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",OTHERS,B,Medium,BB,Medium,B,...,255,385,240,880,2022-04-19,BB,Medium,277135,30.06,5.849000e+09
3,mhk,Mohawk Industries Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Consumer products,A,High,B,Medium,BB,...,570,298,303,1171,2022-04-18,BBB,High,851968,0.39,2.943400e+09
4,lyv,Live Nation Entertainment Inc,USD,"NEW YORK STOCK EXCHANGE, INC.",Media,BBB,High,BB,Medium,B,...,492,310,250,1052,2022-04-18,BBB,High,1335258,0.64,4.343730e+09

In [26]:
data.shape

(638, 21)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638 entries, 0 to 637
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ticker                638 non-null    object
 1   name                  638 non-null    object
 2   currency              638 non-null    object
 3   exchange              638 non-null    object
 4   industry              638 non-null    object
 5   environment_grade     638 non-null    object
 6   environment_level     638 non-null    object
 7   social_grade          638 non-null    object
 8   social_level          638 non-null    object
 9   governance_grade      638 non-null    object
 10  governance_level      638 non-null    object
 11  environment_score     638 non-null    int64
 12  social_score          638 non-null    int64
 13  governance_score      638 non-null    int64
 14  total_score           638 non-null    int64
 15  last_processing_date  638 non-null    object
 16  total_grade           638 non-null    object
 17  total_level           638 non-null    object
 18  cik                   638 non-null    int64
 19  annual_eps            638 non-null    float64
 20  gross_profit          638 non-null    float64
dtypes: float64(2), int64(5), object(14)
memory usage: 104.8+ KB

In [28]:
data['industry'].value_counts()

industry
OTHERS                              113
Technology                           54
Health Care                          45
Biotechnology                        42
Financial Services                   33
Real Estate                          32
Utilities                            30
Banking                              26
Electrical Equipment                 25
Insurance                            25
Retail                               25
Semiconductors                       24
Hotels Restaurants and Leisure       21
Media                                20
Machinery                            19
Consumer products                    18
Chemicals                            17
Energy                               17
Life Sciences Tools and Services     15
Food Products                        14
Pharmaceuticals                      13
Aerospace and Defense                10
Name: count, dtype: int64

In [29]:
data.to_csv('ready_to_ingest_data.csv', index = False)